@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #d6d1d3;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.bg-dotted-grid {
  background-color: whitesmoke;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust size for grid spacing */
}